.spread_cf {
  &:before {
    content: "" !important;
    display: table !important; }
  &:after {
    content: "" !important;
    display: table !important;
    clear: both !important; } }

#spread_reader {
  box-shadow: 0px 0px 10px  #1a1a1a !important;
  border: 1px solid #999 !important;
  border-radius: 5px !important;
  background: white !important;
  position: fixed !important;
  z-index: 19001 !important;
  display: block !important;
  color: black !important;
  text-align: center;
  font-family: Arial, sans-serif !important;
  display: table !important; }

#spread_reader_background {
  z-index: 19000 !important;
  background: #333 !important;
  height: 100% !important;
  width: 100% !important;
  opacity: 0.8 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important; }

#spread_reader_text {
  display: table-cell !important;
  text-align: center !important;
  font-size: 1.5em !important;
  width: 100% !important;
  vertical-align: middle !important;
  font-size: 24px !important; }

#spread_reader_infopane {
  height: 10px !important;
  font-size: 9px !important;
  position: absolute !important;
  top: 0;
  right: 0; }

.spread_right {
  float: right !important; }

ul#spread_reader_buttons {
  width: auto !important;
  height: auto !important;
  overflow: hidden !important;
  font-size: 12px !important;
  margin: 0 auto !important;
  background-color: rgba(77, 77, 77, 0.3) !important;
  border-top: 1px solid #989898 !important;
  label {
    display: block !important;
    line-height: 1.2em !important; }
  li {
    display: inline-block !important;
    padding: 2px 10px !important;
    cursor: pointer !important; }
  img {
    margin: 2px 4px !important; } }

#spread_reader_slider {
  height: 5px !important;
  position: absolute !important;
  top: 10px; }

#spread_options label {
  width: 250px !important;
  float: left !important;
  display: inline-block !important; }

#spread_reader_controls {
  position: absolute !important;
  display: inline !important;
  bottom: 0 !important;
  text-align: center !important;
  img {
    display: inline-block !important;
    padding: 0 10px !important;
    cursor: pointer; } }

#spread_reader_other_images {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  img {
    display: block !important;
    margin-bottom: 10px !important;
    cursor: pointer; } }

#spread_reader_colors {
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  label {
    font-size: 10px !important;
    } 
}

#spread_options label {
  width: 200px;
  float: left; }

.ui-slider {
  position: relative;
  text-align: left;
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    cursor: default; }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0; } }

.ui-slider-horizontal {
  height: .8em;
  .ui-slider-handle {
    top: -0.3em;
    margin-left: -0.6em; }
  .ui-slider-range {
    top: 0;
    height: 100%; }
  .ui-slider-range-min {
    left: 0; }
  .ui-slider-range-max {
    right: 0; } }

.ui-slider-vertical {
  width: .8em;
  height: 100px;
  .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em; }
  .ui-slider-range {
    left: 0;
    width: 100%; }
  .ui-slider-range-min {
    bottom: 0; }
  .ui-slider-range-max {
    top: 0; } }

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  .ui-widget {
    font-size: 1em; }
  input, select, textarea, button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em; } }

.ui-widget-content {
  border: 1px solid #aaa;
  background: white url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #222;
  a {
    color: #222; } }

.ui-widget-header {
  border: 1px solid #aaa;
  background: #cccccc url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222;
  font-weight: bold;
  a {
    color: #222; } }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #555; }

.ui-state-default a {
  color: #555;
  text-decoration: none;
  &:link, &:visited {
    color: #555;
    text-decoration: none; } }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999;
  background: #dadada url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121; }

.ui-state-hover a {
  color: #212121;
  text-decoration: none;
  &:hover {
    color: #212121;
    text-decoration: none; } }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaa;
  background: white url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121; }

.ui-state-active a {
  color: #212121;
  text-decoration: none;
  &:link, &:visited {
    color: #212121;
    text-decoration: none; } }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636; }

.ui-state-highlight a, .ui-widget-content a, .ui-widget-header a {
  color: #363636; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(chrome-extension://__MSG_@@extension_id__/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a; }

.ui-state-error a, .ui-widget-content a, .ui-widget-header a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity = 70);
  font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity = 35);
  background-image: none; }

.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/ui-icons_222222_256x240.png); }

.ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/ui-icons_222222_256x240.png); }

.ui-state-default .ui-icon {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/ui-icons_888888_256x240.png); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-active .ui-icon {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/ui-icons_454545_256x240.png); }

.ui-state-highlight .ui-icon {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/ui-icons_2e83ff_256x240.png); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/ui-icons_cd0a0a_256x240.png); }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }
