
/* minimal reset */


.spread_cf:before,
.spread_cf:after {
    content:"";
        display:table;
}

.spread_cf:after {
    clear:both;
}

#spread_reader * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

#spread_reader_background {
    z-index: 9000 !important;
    background: #333 !important;
    opacity: 0.8 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important; 
}

#spread_reader {
    box-shadow: 0px 0px 10px  #1a1a1a !important;
    border: 1px solid #999 !important;
    border-radius: 5px !important;
    background: white !important;
    position: fixed !important;
    top: 100px !important;
    z-index: 9001 !important;
    display: block !important;
    color: black !important;
    height: auto !important;
    overflow: hidden !important;
}

#spread_reader_body {
    display: table-cell !important;
    text-align: center !important;
    font-size: 1.5em !important;
    width: 100% !important;
    vertical-align: middle !important;
    font-size: 24px !important; }

#spread_reader_body_container {
    display: table !important;
}

#spread_infopane {
    height: 10px !important;
    font-size: 9px !important; }

.spread_right {
        float: right;
}

ul#spread_reader_buttons {
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
    font-size: 12px !important;
    margin: 0 auto !important;
    background-color: rgba(77, 77, 77, 0.3);

    label {
        display: block;
        line-height: 1.2em;
    }

    li {
        display: inline-block !important;
        padding: 2px 10px !important;
        cursor: pointer !important; 
    } 
}


#spread_reader_slider{
        /* Styling the sliders */

        height:6px;
        width:200px;
        border:1px solid #242424;
        position:relative;
        float:left;
        margin:10px 0 0 0;
        
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
        border-radius:12px;
        
        background-repeat:repeat-x;
        
        
}

#spread_reader_knob{
        position:absolute;
        height:28px;
        width:12px;
        background-repeat:no-repeat;
        cursor:ew-resize;
        top:-12px;
}

#spread_options {
    label {
        width: 250px;
        float: left;
        display: inline-block;
    } 
}
